* {
    font-family: Verdana, "Times new roman", sans-serif;
    /* list-style-type: none; */
    text-decoration: none;
}

:root{
    --main-color-txt: rgb(83, 84, 85);
    --main-color-bg: rgb(247, 225, 225);    
    --secondary-clr: rgb(210, 209, 209); 
    --secondary-clr-txt: rgb(102, 100, 100);
    --header-padding: 3 0px;
   
}

body {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    margin: 0;
  
}

header {
    /* display: flex;
    flex-direction: row; */
    padding: var(--header-padding);
    background: var(--secondary-clr);
    
}

.form-box {
    /* border: 1px solid var(--main-color-txt); */
    width: 15vw;
    height: 60px;
    margin: 15px;
    position: absolute;
    width: fit-content;

}

input, button {
    height: 40px;
    border: 1px solid var(--main-color-txt);
    margin-top: 10px;

}

.container-main {
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--main-color-bg);
    padding: var(--header-padding);
    height: fit-content;
    overflow: auto;  
}


.filler {
    flex-grow: 1;
    background: var(--main-color-bg);

}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    background: var(--secondary-clr);
    position: sticky;
    bottom: 0;

}


h1 {
    color: var(--main-color-txt);
    text-align: center;
    font-family: cursive, sans-serif;
}
h4 {
    color:var(--secondary-clr-txt)
    
}



img {     
    width: 500px; 
    height: auto;
    border-radius: 10px;
    margin-top: 20px;


   
}

ul {
    /* font-size: 20px; */
  
}

ol {
  
}

.returnbutton {
    text-align: center;
    border: 1px solid rgb(80, 79, 79);
    background: var(--main-color-bg);
    padding: 6px;
    border-radius: 3px;  

}

ul {
    list-style-type: none;
}

a {
    color: var(--main-color-txt)
}

a:hover {
        color:rgb(115, 112, 112);
    }

a:visited {
    /* color: rgb(137, 120, 120); */
}

.returnbutton:hover {
    background: #e5b8b8;
}

