* {
    font-family: Verdana, "Times new roman", sans-serif;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --main-color-txt: rgb(83, 84, 85);
    --main-color-bg: rgb(247, 225, 225);    
    --secondary-clr: rgb(210, 209, 209); 
    --secondary-clr-txt: rgb(102, 100, 100);
    --sec-padding: 80px;
    
    
}

header {
    padding: var(--sec-padding);
    background: var(--secondary-clr);

}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--main-color-bg);
    padding: var(--sec-padding);
    height: 50vh;
  
}

footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: var(--sec-padding);
    background: var(--secondary-clr);
}


h1 {
    color: coral;
    text-align: center;
    font-family: cursive, sans-serif;
}
h4 {
    color:var(--secondary-clr-txt)
    
}

img {     
    width: 500px; 
    height: auto;
}

.main_image {
    border-radius: 10px;
    width: 500px; 
    height: auto;
    border: 1px solid black;
    
}

ul {
    font-size: 20px;
    font-style: unset;
}

ol {
    background-color: beige;
    
}

.returnbutton {
    text-align: center;
}

a:hover {
        color:rgb(115, 112, 112);
        text-decoration: underline;
    }
a:visited {
    color: brown;
}

